<div id="menu">
    <div id="menu_content">
        <div id="menu_title">
            <a href="{{ site.baseurl }}/">UGMO</a>
        </div>
        <div style="clear:both"></div>
        <div id="menu_nav">
            <ul>
                <li id="menu_nav_team" class="menu_items"><a href="{{ site.baseurl }}/team.html">Team</a></li>
                <li id="menu_nav_media" class="menu_items"><a href="{{ site.baseurl }}/media.html">Media</a></li>
                <li id="menu_nav_thugmo" class="menu_items"><a href="{{ site.baseurl }}/thugmo.html">Thugmo</a></li>
                <li id="menu_nav_contact" class="menu_items"><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
